:root {
    --primary-font: 'Roboto', sans-serif;
    --accent-color: #BBF330;
    --accent-hover: #FFE450;
    --primary-background: #FEFEFE;
    --secondary-background: #FFE550;
    --primary-color: #FFFFFF;
    --primary-text-color: #2C2C2C;
    --secondary-text-color: #7EB101;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);


}


@media screen and (min-width: 320px){
    .container{
    width: 320px;   
    }   
}

@media screen and (max-width: 768px) {
    .container {
    
        margin-left: auto;
        margin-right: auto;
    }

    .page-header-nav {
        display: none;
    }

    .header-btn {
        display: none;
    }

    .mobile-menu__open-btn {
        
        background-color: transparent;
        border: none;
        padding: 0;
        line-height: 0;
    }

    

    .mobile-menu {
        position: fixed;
        width: 130px;
        height: 255px;
        z-index: 1000;
        top: 50px;
        left: 170px;
        background-color: #FEFEFE;
        box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
        border-radius: 30px 0px 30px 30px;
        opacity: 0;
        visibility: hidden;
        pointer-events: none;
        transition: opacity var(--animation), visibility var(--animation);
    }

   .mobile-menu-wrap {
       position: relative;
       padding: 16px 16px;
   }

   .mobile-menu__clouse-btn {
    position: absolute;
    top: 0;
    right: 0;
    background-color: transparent;
    border: none;
    padding: 0;
    line-height: 0;
   }

   .mobile-menu-list {
    display: flex;
    flex-direction: column;
    gap: 32px;
   }

   .page-header-text:hover,
   .page-header-text:focus {
       text-decoration: none;
   }

   .mobile-menu.is-open {
       opacity: 1;
       visibility: visible;
       pointer-events: auto;
   }

   /* =========HERO=========== */

   .hero-img {
    display: none;
   }
  

/* =============description================ */

/* ============favorites=============== */

.favorites-wrap {
    display: none;
}

}
@media screen and (min-width: 768px) {
    .container {
        width: 768px;
        
    }

     .page-header-nav {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 28px;
        margin-right: 30px;
    }

     .btn {
        margin-left: 30px;
     }

    .mobile-btn {
            display: none;
        }
   .header-wrap {
    display: flex;
    align-items: center;
   }

   .mobile-menu {
    display: none;
}
/* =========HERO=========== */
.hero {
    padding-bottom: 100px;
}

.hero-container {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.hero-img {
    width: 320px;
    height: 320px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 14px solid #FFE550;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    right: 15px;
    top: 50px;
}

.hero-list {
    width: 537px;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 44px;
}

.hero-text {
font-size: 16px;
margin-bottom: 40px;
}

.text {
    width: 336px;
    height: 120px;
}
/* =============description================ */
.description-wrapper {
    
    background-image: url(../images/description/apple1.svg),url(../images/description/apple2.svg);
    background-repeat: no-repeat;
    background-position: right 178px top 71px, right 32px top 145px;
}
    
.description-img-wrap {
    width: 365px;
    height: 363px;
    margin-left: 32px;
    margin-bottom: 65px;
}

.description-img {
width: 365px;
    height: 363px;
}

.description-title {
    margin-bottom: 20px;
}

.description-text {
    width: 500px;
    font-size: 16px;
    line-height: 1.9;
}

.description-page {
    display: flex;
    gap: 116px;
    margin-bottom: 63px;
}

.description-list {
    width: 252px;
}

.btn {
    margin-left: 0;
}
/* ========favorites===================== */

.favorites-title {
    margin-left: auto;
    margin-right: auto;
}

.hero-text {
    margin-bottom: 60px;
}

.favorites-foto {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
}

.favirites-img {
    width: 336px;
    height: 338px;
    border: 14px solid #FFE550;
    border-radius: 167.59px;
}

.favorites-foto-icon {
    width: 267px;
    height: 268px;
}

/* =============reviews=========== */
.reviews-text-page {
    margin-bottom: 34px;
}

.wrapper {
    width: 336px;
    height: 261px;
    padding: 16px 12px 32px;
    margin: 0;
}
.reviews-list {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 44px;
}

.text-comment {
    width: 312px;
    height: 90px;
    font-size: 18px;
    line-height: 1.17;
}

/* ==========subscribe=========== */
.page-img {
    display: none;
}

.subscribe-title {
    width: 656px;
}

.hero-text {
    margin-bottom: 24px;
}

.subscribe-page {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    }

.page-input {
    width: 394px;
    height: 42px;
    margin: 0;
}

.subscribe-btn {
    margin-left: 24px;
    padding: 11px 22px;
}

/* ===========footer========== */
.footer-wrap {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 76px;
}

.footer-img {
    display: none;
}
.mobile-menu-list {
    display: flex;
    justify-content: center;
    gap: 28px;
}

.page-input {
    width: 279px;
}

.footer-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 12px;
}

.footer-text-policy {
    text-align: start;
    margin-bottom: 80px;
}

.footer-page {
    justify-content: flex-start;
    gap: 16px;
}

.footer-page-wrap {
    display: flex;
    justify-content: space-between;
}

.footer {
    padding-top: 80px;
    padding-bottom: 100px;
    margin-left: auto;
    margin-right: auto;
    background-image: url(../images/footer/group-116.jpg);
}

}




@media screen and (min-width: 1280px) {
    .container {
        width: 1280px;
    }
    .header-wrap {
    justify-content: flex-end;

    }

    /* ===============hero=========== */
    .hero-wrapper {
        padding-top: 150px;
        padding-bottom: 170px;
    }

    .hero-title {
        width: 515px;
            font-size: 48px;   
            margin-bottom: 28px;
    }

    .hero-text {
        margin-bottom: 46px;
    }

    .text {
        width: 514px;
        height: 69px;
    }

/* ===========description============ */

.description {
    padding-top: 100px;
    padding-bottom: 100px;
}

.description-wrapper {
    background-image: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.description-page-wrap {
    display: block;
    margin-left: 126px;
}
        
.description-title {
    width: 526px;
    font-size: 42px;
    line-height: 1.2;
    margin-bottom: 20px;
}

.description-text {
    line-height: 1.5;
    margin-bottom: 40px;
}

.description-page {
    gap: 67px;
    margin-bottom: 58px;
}

.respect-text {
    font-size: 14px;
    line-height: 1.5;
}

.description-link {
    display: none;
}

/* =========fovirites========== */
.favorites {
    padding-top: 100px;
    padding-bottom: 100px;
}

.favirites-img {
    
    border: 16px solid #FFE550;
    border-radius: 197px;
}

.favorites-title {
    font-size: 42px;
    line-height: 1.16;
    margin-bottom: 20px;
}

.favorite-text {
    line-height: 1.19;
    margin-bottom: 36px;
}

/* ==========reviews========== */
.reviews {
    padding-top: 100px;
    padding-bottom: 100px;
}

.reviews-title {
    width: 100%;
    font-size: 42px;
    line-height: 1.16;
    margin-bottom: 20px;
}

.reviews-text-page {
    line-height: 1.19;
    margin-bottom: 32px;
}
.reviews-list {
    gap: 140px;
}

.wrapper {
    width: 100%;
    height: 100%;
    padding: 14px;
}


.text-comment {
    width: 501px;
    height: 100%;
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 40px;
}

/* ========subscribe=========== */

.subscribe {
    padding-top: 100px;
    padding-bottom: 100px;
}

.page-img {
    display: block;
}

.subscribe-wrap {
    display: flex;
}
}