:root {
    --primary-font:'Roboto',sans-serif;
    --accent-color:#BBF330;
    --accent-hover:#FFE450;
    --primary-background: #FEFEFE;
    --secondary-background: #FFE550;
    --primary-color:#FFFFFF;
    --primary-text-color:#2C2C2C;
    --secondary-text-color:#7EB101;
    --animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);


}

h1,
h2,
h3,
h4,
p {
    margin-top: 0;
    margin-bottom: 0;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

button {
    cursor: pointer;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
}

body {
    background-color: var(--primary-color);
    color: var(--primary-text-color);
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}

.container {
    min-width: 320px;
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 auto;
}


/* =====================HEADER=========================== */

.page-header {
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: var(--primary-background);
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
   .page-header-text {
       line-height: 1.14;
       color: #000000;
       transition: color var(--animation), text-decoration var(--animation);
   }

   .page-header-text:hover,
   .page-header-text:focus {
       color: var(--accent-color);
       text-decoration: revert;
   }

  .btn {
      padding: 6px 18px;
      border-radius: 30px;
      background-color: var(--accent-color);
      color: var(--primary-text-color);
      font-weight: 500;
      font-size: 13px;
      line-height: 1.5;
      text-align: right;
      transition: background-color var(--animation)
  }

  .btn:hover,
  .btn:focus {
      background-color: var(--accent-hover);
  }
/* ===========HERO=========== */
  .hero {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .hero-title {
    font-weight: 700;
    font-size: 28px;
    line-height: 1.17;
    margin-bottom: 28px;
  }

  .hero-text {
    line-height: 1.5;
    margin-bottom: 28px;
  }

  .section-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.16;
    margin-bottom: 16px;
  }
  /* =========DESCRIPTION============ */

  .description {
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: var(--secondary-background);
  }

  .icon {
    margin-bottom: 8px;
  }

  .description-img-wrap {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    background: var(--primary-background);
    border: 5px solid rgba(255, 255, 255, 0.5);
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .button {
    border: 2px solid #7EB101;
    background: #FFFFFF;
    margin-right: 24px;
  }

  /* ===========FAVORITES=========== */
  .favorites {
    padding-top: 50px;
    padding-bottom: 60px;
  }
  
  .favorites-title {
    text-align: center;
    margin-bottom: 20px;
  }

  .favorite-text {
    text-align: center;
    margin-bottom: 60px;
  }

  .favorites-foto {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    justify-content: center;
    align-items: center;
  }

.favirites-img {
    width: 282px;
    height: 282px;
    background: #FEFEFE;
    border: 11px solid #FFE550;
    border-radius: 140px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ============REVIEWS========= */

.reviews {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: var(--secondary-background);
}

.reviews-title {
    margin-bottom: 20px;
}

.reviews-text {
    margin-bottom: 32px;
}

.wrapper {
    width: 280px;
    height: 247px;
    padding: 7px 11px 8px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 24px rgba(105, 105, 105, 0.1);
    border-radius: 0px 30px 30px 30px;
    margin-bottom: 24px;
}

.reviews-icon {
    fill: var(--accent-hover);
    margin-bottom: 29px;
}

.text-comment {
    font-size: 16px;
    line-height: 1.19;
    margin-bottom: 41px;
}

.reviews-wpap-card {
    display: flex;
    column-gap: 16px;
}

.wrap-card {
    display: flex;
    flex-direction: column;
    row-gap: 2px;  
}

/* ==========subscribe========== */

.subscribe {
    padding-top: 60px;
    padding-bottom: 60px;
}

.page-img {
    margin-bottom: 17px;
}

.subscribe-title {
    margin-bottom: 20px;
}

.subscribe-text {
    margin-bottom: 40px;
}

.page-input {
    width: 279px;
    height: 42px;
    background: #FFFFFF;
    border: 0.854167px solid #FFE550;
    border-radius: 30px;
    padding: 11px 12px;
    margin-bottom: 16px;
}

.page-input::placeholder {
    font-size: 12px;
    line-height: 1.5;
    color: #505050;
}

.subscribe-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

/* =============footer=========== */

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background: #FEFEFE;
    box-shadow: 0px -4px 24px rgba(105, 105, 105, 0.1);
}

.footer-wrap {
display: flex;
}

.footer-list {
    display: flex;
}

.footer-text {
    margin-bottom: 12px;
}

.footer-btn {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}

.footer-text-policy {
    text-align: center;
}

.footer-link {
    color: var(--accent-color);
}

.footer-page {
    display: flex;
    justify-content: space-around;
    margin-bottom: 40px;
}

.footer-page-link {
    display: block;
}

.footer-page-text {
    text-align: center;
}

.footer-foto {
    margin-left: auto;
    margin-right: auto;
}